# no_modify
sid=xxxxx
tavo_author=xxxx
tavo_mcp_url=http://xxxx:7347/mcp
tavo_mcp_toekn=xxx
# tavo_mode=emulator/real
tavo_mode=emulator
# 下面是模拟器的配置。模拟器要用127.0.0.1, 也就算tcp 转发，详细查看 [md/debug/pc_安卓虚拟机.md]
#tavo_mcp_url=http://127.0.0.1:7347/mcp
#tavo_mcp_toekn=xxxx
avd_device=emulator-5554
voice_platform=xiaomimimo
voice_platform_apikey=xxx
llm_api=https://api.minimaxi.com/v1
llm_api_key=xxx